<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.1/sse.js"></script>
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Chat Room</h1>
    <p id="result"></p>
    <form hx-post="/chat/send" hx-target="#result" class="bg-white p-4 rounded-lg shadow-md">
        <div class="mb-4">
            <label for="content" class="block text-sm font-medium text-gray-700">Message</label>
            <textarea id="content" name="content" class="mt-1 p-2 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md"></textarea>
        </div>
        <div>
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">Send</button>
        </div>
    </form>
    <div class="bg-white p-4 rounded-lg shadow-md mb-4" hx-ext="sse" sse-connect="/chat/sse" sse-swap="message" hx-swap="afterbegin">
        {{range .}}
            <div class="chat chat-start">
                <span class="font-semibold">{{.Author}}:</span>
                <span>{{.Content}}</span>
            </div>
        {{end}}
    </div>
    <script>
        document.body.addEventListener('htmx:sseBeforeMessage', function (e) {
            console.log(e);
        })
    </script>
</div>
</body>
</html>
