<!-- nav.html -->
<div>
    <a href="/">home</a>
    <a href="/data/recipes/">recipes</a>
    <a href="/login.html" hx-get="/login.html" hx-target="#content" hx-swap="innerHTML">login</a>
    <a href="/register.html" hx-get="/register.html" hx-target="#content" hx-swap="innerHTML">register</a>
    <a href="/blog.html" hx-get="/blog.html" hx-target="#content" hx-swap="innerHTML">blog</a>
    <a href="/account.html" hx-get="/account.html" hx-target="#content" hx-swap="innerHTML">account</a>
    <a href="/chat.html" hx-get="/chat.html" hx-target="#content" hx-swap="innerHTML">chat</a>
    <a href="/llm.html" hx-get="/llm.html" hx-target="#content" hx-swap="innerHTML">llm</a>
    <a href="/spotify.html" hx-get="/spotify.html" hx-target="#content" hx-swap="innerHTML">spotify</a>
</div>
